/* Theme switcher */
.theme-switcher {
  --theme-switcher-width: 42px;
  --theme-switcher-radius: 40px;
  --theme-switcher-padding: 4px;
  --theme-switcher-border-color: #111827;
  --theme-switcher-border-size: 1px;
  --theme-switcher-background: #d1d5db;
  --theme-switcher-icon-size: 16px;
  --theme-switcher-icon-color: #111827;
  --theme-switcher-icon-background: #ffffff;
  --theme-switcher-transition: 0.25s;

  display: inline-flex;
  justify-content: start;
  width: var(--theme-switcher-width);
  padding: var(--theme-switcher-padding);
  border: 0;
  border-radius: var(--theme-switcher-radius);
  box-shadow: 0 0 0 var(--theme-switcher-border-size)
    var(--theme-switcher-border-color) inset;
  background-color: var(--theme-switcher-background);
  line-height: 0;
  cursor: pointer;

  &::before {
    content: "";
    flex: 0 0 0;
    transition: var(--theme-switcher-transition) flex-grow;
    will-change: flex-grow;
  }

  & * {
    pointer-events: none;
  }

  & > .theme-icon {
    padding: 2px;
    border-radius: 50%;
    color: var(--theme-switcher-icon-color);
    background-color: var(--theme-switcher-icon-background);
    rotate: 0deg;
    transition: var(--theme-switcher-transition) rotate;
  }

  & [class^="theme-icon-"] {
    width: var(--theme-switcher-icon-size);
    height: var(--theme-switcher-icon-size);
  }
}

.theme-switcher.dark-mode {
    --theme-switcher-border-color: #d4d4d4;
    --theme-switcher-border-size: 1px;
    --theme-switcher-background: #6b7280;
    --theme-switcher-icon-size: 16px;
    --theme-switcher-icon-color: #ffffff;
    --theme-switcher-icon-background: #1e293b;
}


.theme-switcher .theme-icon-dark {
    display: none;
}

.theme-switcher.dark-mode {
    & .theme-icon-dark {
        display: block;
    }
    & .theme-icon-light {
      display: none;
    }

    & > .theme-icon {
      rotate: 240deg;
    }

    &::before {
      flex: 1 0 0;
    }
}

body {
  /* color-scheme: light dark; */
  --colors-bg: #F9EAD6;
  --colors-text: #333333;
  --colors-select: #6666ff;
  --colors-primary: var(--colors-bg);
  --colors-secondary: var(--colors-text);
  --font-size-base: 1.2rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --border-radius-full: 9999px;
  background: var(--colors-bg);
  color: var(--colors-text);
}

body.dark-mode {
  --colors-bg:#404040;
  --colors-text:#ffffff;
  --colors-select: #afafee;
  --colors-primary: var(--colors-text);
  --colors-secondary: var(--colors-bg);
  background: var(--colors-bg);
  color: var(--colors-text);
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition: none !important;
  }
}

html {
  color: var(--colors-primary);
  background-color: var(--colors-secondary);
  font-family: system-ui, sans-serif;
}

@font-face {
  font-family: 'my-font';
  src: URL('fonts/NeueHaasUnicaPro-Light.ttf') format('truetype');
}

body {
  display: grid;
  min-height: 100dvh;
  place-content: start center;
  /*justify-items: center;*/
  margin: 10dvh;
  font-size: var(--font-size-base);
  font-family: "my-font"; ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

a {
  color: inherit;
}

code {
  font-size: inherit;
}

main {
  padding: 4rem;
  margin-inline: auto;
  max-width: 800px;
}


@media (width >= 40rem) {
  main {
    max-width: 1000px;
  }
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: var(--colors-bg); /* Dark background color */
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid gray;
  box-shadow: 0px 0px 2px gray;
}

/* This class will be added or removed by JavaScript */
.dark-mode {
    background-color: #222;
    color: #eee;
}

.main-topic {
    width: 1541px;
    margin: 0 auto;
    clear: both;
}

.left-text{
    vertical-align:middle;
}

.right-picture > img{
    display: block;
}

.clear{
    clear: both;
}

/* Style the navigation bar links */
.navbar a {
  
  display: inline-block;/* Change the display to block, for responsive reasons (see below) */
  text-align: center; /* Center the text */
  padding: 1px 10px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

.navbar a:not(.nohover):hover {  
  /*background-color: #eee; /* Grey background color */
  color: var(--colors-select); /* Select text color */
}


.container {
  max-width: 1000px;
  &__image {
    display: inline-block;
    vertical-align: top;
    width: 46%;
  }
  &__text {
    display: inline-block;
    width: 46%;
    max-width: 300px;
    margin: 20px;
  }
}

hr {
  border: none;
  border-top: 3px double #333333;
  color: #333333;
  overflow: visible;
  text-align: center;
  height: 5px;
}


.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.two-column-div {
 column-count: 2;
}

img {
  display: block;
}

.img {
  border-radius: 50%;
  display: inline-block;
}


img#shadow {
  box-shadow: 0px 0px 10px black;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}